<main class="container">
  <form #formPaciente="ngForm" method="POST" class="form needs-validation mt-5 mb-5">
    <fieldset>
      <legend class="text-center display-4">Cadastro de Pacientes</legend>

      <small id="asterisco" class="form-text text-muted mb-4">Os campos marcados com asterisco * são de preenchimento
        obrigatório.</small>

      <div class="row mt-5">
        <div class="form-group col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">* Nome Paciente</div>
            </div>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do Paciente"
              #nome="ngModel" [(ngModel)]="paciente.nome" minlength="3">
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
              <div [hidden]="!nome.errors.required">
                Digite um Nome.
              </div>
              <div [hidden]="!nome.errors.minlength">
                O Nome deve conter ao menos 3 caracteres.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text ">* CPF</div>
            </div>
            <input type="text" class="form-control " name="cpf" id="cpf" placeholder="N° do CPF"
              [(ngModel)]="paciente.cpf">
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="form-group col-9">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">* Endereço</div>
            </div>
            <input type="text" class="form-control " name="endereco" id="endereco" placeholder="Endereço do Paciente"
              [(ngModel)]="paciente.endereco">
          </div>
        </div>
        <div class="form-group col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">* Prioridade</div>
            </div>
            <input type="text" class="form-control " name="tipoPrioridade" id="tipoPrioridade" placeholder="Tipo de Prioridade"
              [(ngModel)]="paciente.tipoPrioridade">
            </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 d-flex justify-content-start">
          <button class="bg-success" type="submit" (click)="cadastrar()" value="Cadastrar"
            [disabled]="!formPaciente.form.valid">Enviar</button>
        </div>

        <div class="col-6 d-flex justify-content-end">
          <a [routerLink]="['/']" class="btn btn-dark pr-5 pl-5">Voltar</a>
        </div>
      </div>

    </fieldset>
  </form>
</main>
